/*navbar*/

body{
    margin: auto;
    background-color: #FAF9F6;
}

.navbar{
    background-color: #0D2E63;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;

    width: auto;
    height: 80px;

    display: flex;
    align-items: center;

    justify-content: space-around;
}

.paginas_navbar{
    display: flex;
    gap: 100px;
}

.paginas_navbar a{
    text-decoration: none;
    color: #FAF9F6;
}

.navbar img{
    width: 220px;
}

.botoes_inicio{
    display: flex;
    gap: 20px;
}

.botoes_inicio a{
    text-decoration: none;
}

.botao_1{
    
border-radius: 13px;
background-color: #0D2E63;
border: 1px solid #FAF9F6;

display: flex;
align-items: center;

padding: 8px 20px;

color: #D4AF37;
}

.botao_2{
    display: flex;
    align-items: center;

    color: #0D2E63;

    border-radius: 10px;
    background-color: #D4AF37;
    border: 1px solid #0D2E63;

    padding: 8px 20px;
}



/*Página inicial*/

.section_inicial{
background-color: #0D2E63;
margin: 60px ;
border-radius: 30px;

margin-top: 60px;

    display: flex;
    align-items: center;
    padding: 25px;
    
    justify-content: space-around;
   
}


.section_inicial h1 {
  font-family: sans-serif;
    font-size: 55px;  
    color: #ffffff;    
    line-height: 1.15;
    margin-bottom: 28px;
}

.section_inicial p {
  font-family: sans-serif;
  font-size: 16px;
    color: #ffffff;
}

.section_inicial span{
    color: #D4AF37;
}
.botao_plano{
    display: flex;
    align-items: center;

    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 220px;
    padding: 8px 20px;
    width: 200px;

    border-radius: 10px;
    background-color: #D4AF37;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
}

.botao_plano a{
    text-decoration: none;
    color: #0D2E63;
}

.imagem_predio{
 max-width: 400px;  
    width: 100%;
    height: auto;
    border-radius: 24px; 
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

.imagem_predio img{
    
border-radius: 20px;
height: auto;
width: 100%;
}

/*curiosidade*/

.secao_recursos {
    display: flex; 
    justify-content: center;
    
    gap: 40px; 
    padding: 20px;
    max-width: 1100px; 
    margin-left: auto;
    margin-right: auto;
}


.recurso_card1, .recurso_card2, .recurso_card3 {
    display: flex; 
    align-items: center;
    gap: 15px; 
    background-color: #0D2E63;
    padding: 30px; 
    border-radius: 12px; 
    flex: 1; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.05); 
}

.recurso_icone {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px; 
    height: 50px;
    background-color: #ffffff; 
    border-radius: 50%;
    overflow: hidden; 
}

.recurso_icone img {
    width: 34px;
    height: 34px;
    object-fit: contain;
}

.recurso_card3 img {
    width: 38px;
    height: 38px;
    object-fit: contain;
}


.recurso_texto h3 {
    font-family: sans-serif;
    font-size: 18px; 
    color: #ffffff; 
    margin: 0 0 6px 0; 
}

.recurso_texto p {
    font-family: sans-serif;
    font-size: 14px; 
    color: #68748a; 
    line-height: 1.4; 
    margin: 0;
}


/*como funciona*/

.como_funciona{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: sans-serif;

    margin-top: 25px;
}

.como_funciona h1{
    font-size: 32px;
  margin-bottom: -5px;
  color: #0D2E63;
}

.como_funciona p{
    font-size: 17px;
  
 
}

.fuciona_numero {
    background-color: #D4AF37;
    color: #ffffff;

    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;

    width: 28px;
    height: 28px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 12px;

    
}

.funcionamento {
    display: flex; 
    justify-content: center;
    
    gap: 40px; 
   margin-top: 10px;
    max-width: 1450px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: stretch;
}


.fucionamento_card1, .fucionamento_card2, .fucionamento_card3, .fucionamento_card4, .fucionamento_card5, .fucionamento_card6  {
    display: flex; 
    align-items: center;
    flex-direction: column;
    gap: 15px; 
    background-color: #0D2E63;
    padding: 20px; 
    border-radius: 12px; 
    flex: 1;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05); 
}


.fuciona_icone {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px; 
    height: 50px;
    background-color: #ffffff; 
    border-radius: 50%;
    overflow: hidden; 
}

.fuciona_icone img {
    width: 34px;
    height: 34px;
    object-fit: contain;
}

.fuciona_card3 img {
    width: 38px;
    height: 38px;
    object-fit: contain;
}


.fuciona_texto h3 {
    font-family: sans-serif;
    font-size: 18px; 
    color: #ffffff; 
    margin: 0 0 6px 0; 
}

.fuciona_texto p {
    font-family: sans-serif;
    font-size: 14px; 
    color: #68748a; 
    line-height: 1.4; 
    margin: 0;
}

/*banner_baixo*/

.banner_baixo{
background-color: #0D2E63;
margin: 60px ;
border-radius: 30px;

margin-top: 60px;

    display: flex;
    align-items: center;
    padding: 10px;
    
    justify-content: space-around;
 
}

.banner_baixo img{
    width: 300px;
}

.banner_incial h1 {
  font-family: sans-serif;
    font-size: 30px;  
    color: #ffffff;    
    line-height: 1.15;
    margin-bottom: 5px;
}

.banner_incial p {
  font-family: sans-serif;
  font-size: 15px;
    color: #ffffff;
}

.banner_incial span{
    color: #D4AF37;
}

.botao_banner{
    display: flex;
    align-items: center;
    text-align: center;

    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 220px;
    padding: 8px 8px;
    width: 200px;

    border-radius: 10px;
    background-color: #D4AF37;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
}

.botao_banner a{
    text-decoration: none;
    color: #0D2E63;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/*footer*/


.site-footer {
  background-color: #0D2E63;
  margin: 0;
  padding: 40px 0 20px;
  font-family: sans-serif;
  color: #ffffff;
  width: 100%;
  margin-top: 70px;
}

.footer-container {
  max-width: 2000px; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  padding: 0 20px;
}

.footer-column {
  flex: 1;
  min-width: 250px; 
  padding: 0 20px;
  box-sizing: border-box;
 
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.footer-column:not(:last-of-type) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-column.footer-social-right {
  border-right: none;
}

.iamgem_logo_footer img {
  max-width: 240px;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.textinho {
  color: #ffffff;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

.footer-column li{
     text-decoration: none;
}

.footer-column h3 {
  color: #D4AF37;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 12px;
}

.footer-column ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-social-right {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.footer-social-right .social-icons-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 5px;
}

.footer-social-right img {
  width: 45px;
  height: 45px;
  display: block;
  margin: 0;
}

.footer-bottom {
  width: 100%; 
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1); 
  
}

.footer-bottom p {
  color: #D4AF37;
  font-size: 13px;
  margin: 0;
}


/*SOBRE NÓS*/

.banner-sobre{
    background-color: #0D2E63;
    padding: 20px 200px ;
    margin: 60px;

    border-radius: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-sobre img{
    width: 460px;
    border-radius: 30px;
}

.banner-sobre h1{
    font-family: sans-serif;
    font-size: 55px;
    color: #FAF9F6;

    margin-bottom: -1px;
}

.banner-sobre span{
    color: #D4AF37;
}

.banner-sobre p{
    font-family: sans-serif;
    font-size: 16px;
    color: #FAF9F6;
}

.textos-sobre{
    margin-top: -23px;
}

/*nosso propósito*/

.nossopropóstio{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nossopropóstio h1{
    color: #0D2E63;
    font-family: sans-serif;
}

.nossopropóstio p{
    margin-top: -2px;
    color: #D4AF37;
    font-family: sans-serif;
    font-size: 16px;
}

.propositos{
    margin-top: -20px;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    padding: 50px 490px;
    gap: 24px;

    font-family: sans-serif;
}

.propositos p{
    font-size: 14px;
}

.card_sobre{
border: 1px solid #e2e8f0;
background-color: #FAF9F6;
border-radius: 12px;
padding: 20px;
}

.card_sobre h4{
    color: #0D2E63;
}

.card_sobre p{
    color: #4b5563;
}

.valores-sobre{
background-color: #0D2E63;
padding: 20px;
border-radius: 12px;


}

.valores-sobre h4{
    color: #D4AF37;
}

.valores-sobre li{
    color: #d1dbe5;
    font-size: 14px;
    margin: 8px;
}

/*Estrutura*/

.section_estrutura{
background-color: #0D2E63;
margin: 60px ;
border-radius: 30px;

margin-top: 60px;

    display: flex;
    align-items: center;
    padding: 25px;
    
    justify-content: space-around;
   
}


.section_estrutura h1 {
  font-family: sans-serif;
    font-size: 55px;  
    color: #ffffff;    
    line-height: 1.15;
    margin-bottom: 28px;
}

.section_estrutura p {
  font-family: sans-serif;
  font-size: 16px;
    color: #ffffff;
}

.section_estrutura span{
    color: #D4AF37;
}
.botao_plano_estrutua{
    display: flex;
    align-items: center;

    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 160px;
    padding: 8px 20px;
    width: 200px;

    border-radius: 10px;
    background-color: #D4AF37;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
}

.botao_plano_estrutua a{
    text-decoration: none;
    color: #0D2E63;
}

.imagem_estrutura{
 max-width: 500px;  
    width: 100%;
    height: auto;
    border-radius: 24px; 
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

/*informações*/
.informações2_estrutura{
    display: flex;
    gap: 24px;
    
}

.estrutura-informações{
font-size: 15px;
}

.estrutura-informações p{
    color: #4b5563;
}

.estrutura-informações h4{
    color: #0D2E63;
}

.estrutura-informações{
display: flex;
justify-content: center;
font-family: sans-serif;
}


.tecnologia-azul{
    background-color: #0D2E63;
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    
   justify-content: center;
   padding: 20px;

   border-radius: 12px;
}

.tecnologia-azul{
    font-size: 15px;
    
}

.tecnologia-azul h4{
    color: #D4AF37;
}

.tecnologia-azul p{
    color: #c0c5ca;
}

.tecnologia-azul img{
    
    width: 350px;
    display: flex;
    
    margin: auto;
    border-radius: 12px;
}


.duasinfmrações_estrutura{
    border-radius: 12px;
    border: 1px solid #e2e8f0;
    padding: 20px;
}